body {
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#logo a {
    font-family: 'Recoleta', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 40px;
}

#nav-bar-items {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-bar-items {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;
    margin-left: 20px;
    text-decoration: none;
}

.nav-bar-items:hover {
    color: #fff;
    border-color: #fff;
    border-bottom: 2px solid #fff;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button {
    padding: 12px 24px;
    border-radius: 40px;
    color: #F2F2F2;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300; 
    border: 2px solid #F2F2F2; 
}


#sign-up {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;;
    border-radius: 40px;
    margin-left: auto;
    padding: 12px 24px;
}

#sign-up:hover {
    color: #fff;
    border-color: #fff;
    transition: color 0.2s ease-in
}
#home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    text-align: center;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-header, .home-header-sub {
    font-family: 'Recoleta', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 109px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    position: relative;
    animation: shine 2s infinite;
}


#info {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 20;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

#getstarted-main {
    padding: 12px 24px;
    border-radius: 40px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300; 
    border: 2px solid #FFFFFF;
    transition: all 0.3s ease-in-out; 
}

#getstarted-main:hover {
    transform: scale(1.1); 
    border-color: #fff; 
    color: #fff; 
}

a {
    text-decoration: none;
  }

  #product, #about-us {
margin-top: 10px;
  }