body {
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    text-decoration: none;
}

a {
    text-decoration: none;
  }

  #product, #about-us {
    margin-top: 10px;
      }

    .filter-icon img {
        padding-top: 2px;
    }
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#logo a {
    font-family: 'Recoleta', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 40px;
}

#nav-bar-items {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-bar-items {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;
    margin-left: 20px;
    text-decoration: none;
}

.nav-bar-items:hover {
    color: #fff;
    border-color: #fff;
    border-bottom: 2px solid #fff;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button {
    padding: 12px 24px;
    border-radius: 40px;
    color: #F2F2F2;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300; 
    border: 2px solid #F2F2F2; 
}


#sign-up {
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    color: #F2F2F2;;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;;
    border-radius: 40px;
    margin-left: auto;
    padding: 12px 24px;
}

#sign-up:hover {
    color: #fff;
    border-color: #fff;
    transition: color 0.2s ease-in
}

.rectangle {
    position: absolute;
    width: 100%; 
    min-height: 584px;
    left: 0;
    top: 120px;
    background: rgba(243, 243, 243, 0.15);
    box-shadow: 0px 4px 4px rgba(243, 243, 243, 0.15);
    z-index: 0;
    display: flex; 
   
  }
  
  .rectangle-content {
    width: 80%; 
    max-width: 1440px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 30px; 
    padding-top: 30px; 
    padding-left: 30px;
  }

  #browse-classes {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
  }

  #filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-left: 100px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 6px 16px;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
}

.filter-content {
    position: relative;
    z-index: 1;
}

.filter-icon {
    margin-top: 8px;
}

.course {
    box-sizing: border-box;
    width: calc((100% - 120px) / 4);
    height: auto;
    min-width: 300px;
    min-height: 350px;
    flex: 1;
    background: rgba(255, 255, 255, 0.58);
    border: 1px solid rgba(147, 147, 147, 0.24);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: stretch;
  }

  #courses-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    max-width: 1300px;
    gap: 30px;
    align-items: flex-start;
    margin: 0 auto; 
    margin-left: 50px;
    overflow-x: auto; 
    height: auto;
}

#about-explore {
    margin-top: 50px; 
    margin-left: 50px; 
    
}

.course-images {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.course-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0; 
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.profile-name {
    font-family: 'Recoleta', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    margin-left: 20px; 
}

.about {
    margin-top: 10px; 
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}


.categories {
    display: flex; 
    justify-content: flex-start; 
    margin-top: 10px; 
}

.category {
    position: relative;
    height: 14px;
    margin-right: 10px;

    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #333333;
    padding: 5px 8px; 
    border-radius: 10px;
}

#explore-profile img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 6px solid #ddd;
  }

  #explore-profile .profile-name {
    text-align: center;
    font-family: 'Recoleta', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }

  #about-explore {
    margin-top: 10px;
    font-family: 'SF UI Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    max-width: 260px;
    height: auto;
    margin-bottom: 10px;
}

#explore-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}
  
  #explore-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scrollable-content {
    position: relative;
    top: 704px;
}
#browse-classes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scrollable-content #blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF
  }

  #about-explore {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    margin-top: 50px
    ;
}

.course:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  
  .filter.selected {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
  }

  .explore-section {
    display: flex;
    justify-content: center;
  }
  
  .explore-button {
    background-color: black;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;
  }
  
  .explore-button:hover {
    background-color: #555;
    color: white;
  }