body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #F7F7CF;
}

header {
  position: fixed;
  width: 1440px;
  height: 150px;
  left: 0px;
  top: 0px;
  background: #990000;
  z-index: 999; /* Set the z-index to keep it in front */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  color: #F7F7CF;
  font-family: 'Beale';
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  text-decoration: none;
}

.top-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 323px;
  height: 99px;
  left: calc(50% - (323px / 2));
  top: 5px;
}

.top-dog h1 {
  font-family: 'Beale';
  font-weight: 700;
  font-size: 60px;
  line-height: 99px;
  color: #F7F7CF;
  margin: 0;
}

.top-dog p {
  font-family: 'Beale';
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: #C1D343;
  margin: 0;
}

.right-section {
  position: absolute;
  width: 330px;
  height: 100%;
  left: 802px;
  top: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #C1D343;
  padding: 10px;
  box-sizing: border-box;
}
.right-section div {
  font-family: 'Beale';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: #990000;
  margin-bottom: 15px;
  text-align: center;
}

.right-section p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #990000;
  margin-bottom: 30px;
  text-align: center;
}

.left-section {
  position: absolute;
  width: 330px;
  height: 100%;
  left: 350px;
  top: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid orange;
  padding: 10px;
  box-sizing: border-box;
}

.left-section div {
  font-family: 'Beale';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: #990000;
  margin-bottom: 15px;
  text-align: center;
}

.left-section p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #990000;
  margin-bottom: 30px;
  text-align: center;
}

.reflectdog-left {
  position: absolute;
  left: 50px;
  top: 400px;
}

.reflectdog-right {
  position: absolute;
  right: 50px;
  top: 400px;
}

